# Gradle files
.gradle/
.gradle-home/
build/

# Kotlin Multiplatform / Compose Multiplatform
.kotlin/
composeApp/build/
iosApp/build/
.common/

# Android Specific
local.properties
.navigation/
captures/
*.apk
*.aar
*.jks
*.keystore

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/
cmake-build-*/

# iOS / Xcode (Penting untuk KMP)
iosApp/*.xcworkspace
iosApp/xcuserdata/
iosApp/DerivedData/
iosApp/Podfile.lock
iosApp/Pods/

# System files
.DS_Store
thumbs.db